AddDefaultCharset utf-8
RewriteEngine On
RewriteRule ^\.htaccess$ - [F]

#------------
# 1: page
# 2,4: variable
# 3,5: value
#------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)/(.*)/(.*)/(.*)$ $1.php?$2=$3&$4=$5 [L,QSA]

#------------
# 1: page
# 2: variable
# 3: value
#------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)/(.*)$ $1.php?$2=$3 [L,QSA]

#------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.php [L,QSA]