@CHARSET "UTF-8";

/*Comment, writeBlog*/
.writingarea {
	font-family: sans-serif;
	padding: 5px;
	background-color: #8080c0;
	float: left;
}

textarea {
	font-family: sans-serif;

}

/*Login*/

td {
	font-family: sans-serif;
	padding: 2px;
}

.loginput {
	width: 150px;
}


/*Blogs*/

a{
	text-decoration: none;
}

aside {
	float: left;
	margin-top: 30px;
	margin-right: 20px;
	
	font-family: sans-serif;
	
}

aside input {
	width: 70px;
	/*margin-bottom: 5px;*/
}

aside p {
	background-color: #D7D7D7;
	width: 70px;
	text-align: center;
	padding: 8px 1px;
	
}

aside a {
	color: blue;
	font-size: 95%;
}

.pBlog {
	border-radius: 7px;
	background-color: #8080c0;
}

.aBlog {
	color: white;
}

.plogout {
	background-color: #990033;
}

.alogout {
	color: white;
}

main {
	float: left;
	font-family: sans-serif;
	width:60%;
	
}

article {
	margin-bottom: 0px;
	background-color: #E8E8E8;
}

article h4 {
	margin-bottom: 0px;
}

.datetime {
	margin-bottom: 3px;
	font-size: 70%;
	font-weight: bold;
}

.blogentries {
	margin-left: 5px;
}

article p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.pComBut {
	background-color:#5b5b5b;
	border-radius:3px;
	width: 70px;
	text-align: center;
	padding: 1px;
	margin: 3px;
}

.aComBut {
	color: yellow;
	font-size: 75%;
}

.comment {
	font-family: fantasy;
	font-size: 90%;
	background-color: #f0f0f0;
	color: #00008d;
}

.aComEdit, .aBlogEdit {
	color: green;
	font-size: 75%;
	font-family: sans-serif;
	float: right;
	margin-right: 3px;
}

.aBlogEdit {
	font-weight: bold;
}

.icon {
	height: 30px;
	width: auto;
	float: left;
}

#user {
	padding: 5px;
	background-color: #e7ff5b;
	float: right;
	font-family: sans-serif;
	text-align: center;
}

#username {
	margin: 0px 5px;
	float: left;
	font-weight: bold;	
}

#logouttop {
	padding: 3px 2px;
	border-radius: 3px;
	margin: auto;
	margin-top: 2px;
	margin-left: 10px;
	float: right; 
	
}