@CHARSET "UTF-8";

a{
	text-decoration: none;
}

aside {
	float: left;
	margin-top: 30px;
	margin-right: 20px;
	
	font-family: sans-serif;
	
}

aside input {
	width: 70px;
	/*margin-bottom: 5px;*/
}

aside p {
	background-color: #D7D7D7;
	width: 70px;
	text-align: center;
	padding: 8px 1px;
	
}

aside a {
	color: blue;
	font-size: 95%;
}

.pBlog {
	border-radius: 7px;
	background-color: #8080c0;
}

.aBlog {
	color: white;
}

.logout {
	background-color: #990033;
	color: white;

}

main {
	float: left;
	font-family: sans-serif;
	width:60%;
	
}

article {
	margin-bottom: 0px;
	background-color: #E8E8E8;
}

article h4 {
	margin-bottom: 5px;
}

article p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.pComBut {
	background-color:#5b5b5b;
	border-radius:3px;
	width: 70px;
	text-align: center;
	padding: 1px;
	margin: 3px;
}

.aComBut {
	color: yellow;
	font-size: 75%;
}

.comment {
	font-family: fantasy;
	font-size: 90%;
	background-color: #f0f0f0;
	color: #00008d;
}
